<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h7>Contact Marzieh Vahid :MARZIEH.VAHID@UT.AC.IR</h7>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<table width="5%" border="2" cellspacing="0">
  <tr>
    <td align="center"><a href="/">Back</a></td>
  </tr>
</table>